.full-width-table {
  width: 100%;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.post-row.expanded-row {
  background: rgba(255, 255, 255, .6);
}

tr.post-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.post-row:not(.expanded-row):active {
  background: #efefef;
}

.post-row td {
  border-bottom-width: 0;
  
}

.post-detail {
  overflow: hidden;
  display: flex;
  
}

.post-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.post-title {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.post-body {
  padding: 16px;
}

.post-description-attribution {
  opacity: 0.5;
}

.comment-body {
  color: rgba(0, 0, 0, 0.54);
}
