<mat-accordion class="accordion-headers-align" hideToggle>
  <mat-expansion-panel *ngFor="let post of postData | async, let $index"
                       [expanded]="postData[$index] === post"
                       (opened)="expandedItem = post">
      <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="post-id">
              <span> {{post.id}} </span>
            </div>
            <div class="post-title">
              <span>{{post.title}}</span>
            </div>
          </mat-panel-title>
          <mat-panel-description class="post-user">
             <span> {{post.userId}} </span>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="post-body">
          <span> {{post.body}} </span>
          <div class="show-comments-toggle">
              <button mat-button *ngIf="!post.showComments" color="primary" (click)="showComments(post)">SHOW COMMENTS</button>
              <button mat-button *ngIf="post.showComments" color="primary" (click)="hideComments(post)">HIDE COMMENTS</button>
          </div>
          <div class="post-comments" *ngIf="post.showComments">
              <mat-list>
                  <mat-list-item *ngFor="let comment of post.comments">
                              <span mat-list-avatar>{{comment.id}} </span>
                              <div mat-line>{{comment.email}}</div>
                              <div mat-line> {{comment.name}} </div>
                              <div mat-line class="comment-body">{{comment.body}} </div>
                          </mat-list-item>
              </mat-list>
          </div>
      </div>
      <mat-action-row>

          <button mat-button
                  color="primary"
                  (click)="delete(post)">DELETE POST</button>
      </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>