.grid-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-basis: 0;
}

.posts {
  flex: 1 1 50%;
}
.users {
 flex-direction: column;
 width: 40%;
  bi-user {
    margin: 16px;
  }
}




