<div class="grid-container">

    <div class="posts" *ngIf="postData">
    <h1 class="mat-h1">Posts</h1>

        <bi-posts [postData]="postData" (deleted)="deletePost($event)"></bi-posts>
    </div>

    <div class="users">
        <h1 class="mat-h1">Users</h1>


        <div>
            <bi-user *ngFor="let user of userData | async"
                     [user]="user"
                     (filterBy)="filterByUser($event)"
                     (reloadDataWith)="refresh($event)"></bi-user>
        </div>
    </div>

    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>
                Posts

                <button mat-icon-button
                        class="more-button"
                        [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu"
                          xPosition="before">

                    <button mat-menu-item>Expand</button>

                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <bi-posttable *ngIf="postData"
                          [data]="postData"></bi-posttable>
        </mat-card-content>
    </mat-card> -->
</div>