.grid-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  justify-content: space-evenly;
}

.posts {
  flex-basis: 60%;
}
.users {
 flex-direction: column;
  bi-user {
    margin: 16px;
  }
}




